form {
    border: solid 5px var(--main-color);
    padding-bottom: 40px;
    padding-right: 0px;
    padding-left: 80px;
    border-radius: 50px;
    background-color: var(--soft-gray);
}

.wrapper-searchbar {
    display: flex;
    align-items: center;
}

.searchbar-button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-color);
    background-image: url('img/search-icon.svg');
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 2rem;
    border: solid 3px var(--main-color);
    transition: 0.3s;
}

.searchbar-button:hover {
    background-color: white;
    background-image: url('img/search-icon-red.svg');
    transition: 0.3s;
}

#searchbar {
    width: 0px;
    transition: 0.4s;
    border: none;
    margin-left: 15rem;
    margin-right: 5px;
}

#searchbar:focus {
    border: solid 5px var(--main-color);
    padding: 10px;
    height: 2.2rem;
    width: 15rem;
    border-radius: 2rem;
    transition: 0.4s;
    margin-left: 0px;
}

.categorie, .batiment, .tri {
    padding-top: 20px;
}

form{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.4fr;
}

input[type="checkbox"]{
        float: right;
        margin-right: 100px;
        margin-top: 6px;
}

.titre-categorie{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 20px;
}